/* Styles for TimeBank page */

/* Hover effect for time bank entries */
.hover-bg-gray {
  background-color: rgba(0, 0, 0, 0.05) !important; /* Light gray */
  transition: background-color 0.3s ease;
}

.hover-bg-gray:hover {
  background-color: rgba(0, 0, 0, 0.1) !important; /* Slightly darker gray */
}